@charset "UTF-8";
/* Media Queries para Telas Diferentes */
@media screen and (min-width: 992px), screen and (orientation: landscape) {
  .valores li:hover {
    background-color: #333;
    cursor: pointer;
  }
  nav ul li{
    margin: 0 15px;
    display: inline;
  }
  .menu-toggle{
    display: none;
  }
  nav .menu{
    display: flex;
    flex-direction: row;
  }
  .menu{
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  nav .menu li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
  }
}